#!/bin/bash

createdb <%= @db_name %>
createuser <%= @user_name %>

psql -d <%= @db_name %> -c "ALTER ROLE <%= @user_name %> WITH PASSWORD '<%= @user_password %>'"
psql -d <%= @db_name %> -c "GRANT ALL PRIVILEGES ON DATABASE <%= @user_name %> TO <%= @user_name %>"

psql -d <%= @db_name %> -f /db_schema.sql -U <%= @user_name %> -W '<%= @user_password %>'

